body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  width: 100%;
}

/* NAVBAR */

.bar {
  /* border: 1px solid red; */
  background-color: #8AA9E4;
  height: 100%;
  width: 100%;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.left-div {
  /* border: 1px solid purple; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 1rem;
  align-items: center;
  height: 100%;
}

#logo {
  cursor: pointer;
}

.mid-div{
  /* border: 1px solid pink; */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#navbarTitle {
  /* border: 1px solid brown; */
  font-size: 1.5rem;
}

.right-div {
  /* border: 1px solid pink; */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  height: 100%;

}

#previousQ, #nextQ {
  /* box-shadow: 1px 1px 4px #8AA9E4; */
  margin-right: 1rem;
  background-color: #BDD3FC;
  border: 0;
  padding: 1vmin;
  font-size: 1.25rem;
}


/* PAGE-CONTENT */

.wrapper {
  border: 1px solid #7CA3EE;
  padding: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
}

.game-wrapper {
  padding: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
}

.header-wrapper {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 0.5px solid #7CA3EE;
  padding: .3rem;
  margin: 0 -0.6rem;
}

.cHText {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.kapLink {
  display: grid;
  justify-content: end;
  margin-right: 1rem;
  font-size: 1.2rem;
  color:#3f6cc0;
  align-items: center;
  text-underline-offset: .2rem;
}


/* GAME-CONTENT */

.progress-bar {
  background-color: #7CA3EE;
  width: 100%;
}
#progress {
  background-color: #3f6cc0;
  width: 33%;
  height: 100%;
}

.question {
  border: 0.1px solid #7CA3EE;
}

.task {
  border: 0.1px solid #7CA3EE;
  padding: 1rem;
}

.word-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.word-grid > button {
  background-color: #8AA9E4;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid darkgrey;
  font-size: 1rem;
}

.task > p {
  display: inline;
  margin: 0;
  margin-right: .5rem;
  margin-left: .5rem;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
}
.taskPBorder{
  border: 1px solid darkgrey;
  background-color: #8AA9E4;
  padding: .3rem;
  min-width: 2rem;
  min-height: 1.2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.vis{
  visibility: visible;
}

#wordContainer {
  border: 1px solid lightgrey;
  max-width: 8rem;
  max-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 1rem;
}
.wordBox, #checkAnswerBtn {
  cursor: pointer;
}

.wordBox:disabled, #checkAnswerBtn:disabled {
  cursor: default;
}

#checkAnswerBtn {
  width: 50%;
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 1.2rem;
  text-decoration: underline;
  text-underline-offset: .3rem;
}




/* RESULT-BOX */

#resultBox {
  /* border: 1px solid red; */
  background-color: #C6CAC7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  justify-self: center;
  padding: 3%;
  margin: 1rem 0;
}

#resultBox.grey{
  background-color: #C6CAC7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  justify-self: center;
  padding: 3%;
  margin: 1rem 0;
}

#resultBox.feil {
  background-color: #d46161;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  justify-self: center;
  padding: 3%;
  margin: 1rem 0;
}

#resultBox.riktig{
  background-color: #61d47e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  justify-self: center;
  padding: 3%;
  margin: 1rem 0;
}


#resultText{
  /* border: 1px solid purple; */
  width: 100%;
  display: grid;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

#goToNext {
  /* border: 1px solid pink; */
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 120%;
  border: 1px solid darkgrey;
  color: rgb(100, 100, 100);
  /* visibility: hidden; */
}
/* #goToNext.visible{
  visibility: visible;
} */

/* SCALING */

@media (max-width: 700px) {
  
}
@media (max-width: 400px) {
  
}
