/* ExerciseStyle: Global stylesheet that can be referred to from any component */

/* RootPaper media queries: Controls the size of the exercises and feedback-component on smaller screens */
@media only screen and (max-width: 650px) {
    #rootPaper {
        margin: 20px auto;
        min-width: 88%;
    }
}

@media only screen and (max-width: 450px) {
    #rootPaper {
        margin: 10px auto;
        min-width: 94%;
    }  
}
