/* Styling for the Feedback-component */

/* ExclamationText:  */
#exclamationText {
    font-size: 2em;
}

/* PointsText: Text around the point score (i.e. 'Dine poeng' and 'Poengsummen din er..') */
#pointsText {
    font-size: 2em;
    margin-top: 20px;
}

/* DivPointsText:  */
#divPointsText {
    margin: 0 15px;
    margin-bottom: 20px;
}

/* Points: Point score (i.e. '0 / 1') */
#points {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    margin: 10px 15px;
    font-size: 2em;
}