
/* NAVBAR */

.bar {
    /* border: 1px solid red; */
    background-color: #8AA9E4;
    height: 100%;
    width: 100%;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  
  .left-div {
    /* border: 1px solid purple; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 1rem;
    align-items: center;
    height: 100%;
  }
  
  #logo {
    cursor: pointer;
  }
  
  .mid-div{
    /* border: 1px solid pink; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #navbarTitle {
    /* border: 1px solid brown; */
    font-size: 1.5rem;
  }
  
  .right-div {
    /* border: 1px solid pink; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    height: 100%;
  
  }
  
  #previousQ, #nextQ {
    /* box-shadow: 1px 1px 4px #8AA9E4; */
    margin-right: 1rem;
    background-color: #BDD3FC;
    border: 0;
    padding: 1vmin;
    font-size: 1.25rem;
  }